//Primary Colors
$primaryDark: #13182c;
$primaryMedium: #2e66e5;
$primaryLight: #ffffff;
// Secondary Colors
$secondraryDark: #5c667e;
$secondaryLight: #bdc5d5;
// Background Colors
$backgroundDark: #232940;
$backgroundLight: #f7f8f9;
// Supporting Colors
$inStock: #158463;
$outOfStock: #c94515;
