@use "../../styles/partials/colors" as colors;
@use "../../styles/partials/breakpoints" as breakpoints;
@use "../../styles/partials/fonts";

@include breakpoints.small {
  .header {
    background-color: colors.$backgroundDark;
    height: 12.5rem;

    &__container {
      margin: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      height: 7.8rem;
    }

    &__logo {
      margin-top: 1rem;
      width: 8rem;
    }
    &__navbar {
      margin-top: 0;
      padding: 0;
      height: 2.25rem;
      display: flex;
      justify-content: space-between;
    }

    &__navlink {
      display: block;
      list-style: none;
      text-decoration: none;
      display: block;
      font-size: 13px;
      font-weight: 600;
      border-radius: 20px;
      color: colors.$secondaryLight;
      padding-top: 0.5rem;
      width: 10.1rem;
      text-align: center;
    }

    .header__navbar a:hover {
      background-color: colors.$primaryDark;
      color: colors.$backgroundLight;
    }
    .active {
      background-color: colors.$primaryDark;
      color: colors.$backgroundLight;
    }
  }
}


@include breakpoints.medium {
 .header {
    background-color: colors.$backgroundDark;
    height: 11.5rem;

    &__container {
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 5.7rem;
      padding:2rem 2rem;

    }

    &__logo {
      height:100%;
      width: 8rem;
    }
    &__navbar {
      margin-top: 0;
      padding: 0;
      height: 2.37rem;
      display: flex;
      justify-content: space-between;
    }

    &__navlink {
      display: block;
      list-style: none;
      text-decoration: none;
      display: block;
      font-size: 13px;
      font-weight: 600;
      border-radius: 20px;
      color: colors.$secondaryLight;
      padding-top: 0.5rem;
      width: 6.68rem;
      text-align: center;
     
    }

    .header__navbar a:hover {
      background-color: colors.$primaryDark;
      color: colors.$backgroundLight;
    }
    .active {
      background-color: colors.$primaryDark;
      color: colors.$backgroundLight;
    }
  }
}

@include breakpoints.large {
 .header {
    background-color: colors.$backgroundDark;
    height: 11.8rem;

    &__container {
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 5.75rem;
      padding:2rem 5.6rem;

    }

    &__logo {
      height:100%;
      width: 8rem;
    }
    &__navbar {
      margin-top: 0;
      padding: 0;
      height: 2.37rem;
      display: flex;
      justify-content: space-between;
    }

    &__navlink {
      display: block;
      list-style: none;
      text-decoration: none;
      display: block;
      font-size: 13px;
      font-weight: 600;
      border-radius: 20px;
      color: colors.$secondaryLight;
      padding-top: 0.5rem;
      width: 6.68rem;
      text-align: center;
     
    }

    .header__navbar a:hover {
      background-color: colors.$primaryDark;
      color: colors.$backgroundLight;
    }
    .active {
      background-color: colors.$primaryDark;
      color: colors.$backgroundLight;
    }
  }}